<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.army.back.mapper.LeaveMapper">

    <select id="selectLeaveHistory" resultType="com.army.back.dto.Leave">
        SELECT * FROM military_leave WHERE army_number = #{armyNumber}
    </select>

    <update id="modifyLeave">
        UPDATE military_leave 
        SET leave_type = #{leaveType}, leave_days = #{leaveDays}, reason = #{reason}
        WHERE leave_id = #{leaveId}
    </update>

    <delete id="deleteLeave">
        DELETE FROM military_leave WHERE leave_id = #{leaveId}
    </delete>

    <insert id="insertLeave">
        INSERT INTO military_leave (army_number, leave_type, leave_days, reason)
        VALUES (#{armyNumber}, #{leaveType}, #{leaveDays}, #{reason})
    </insert>

</mapper>
